@tailwind base;
@tailwind components;
@tailwind utilities;

@view-transition {
  navigation: auto;
}

body {
  @apply antialiased text-slate-800 dark:text-slate-300 bg-stone-200 dark:bg-stone-900 max-w-3xl mx-auto my-4 leading-8;
}

header {
  @apply flex justify-between px-10 py-8;

  h1 {
    @apply text-2xl text-sky-500 tracking-wider;
  }

  h1 > a {
    text-shadow: 0;
    transition: text-shadow 500ms ease;
  }

  h1 > a:hover {
    text-shadow: 0 0 8px theme(colors.sky.600);
  }

  ul {
    @apply w-1/2 md:w-1/4 flex flex-row justify-between text-lg;

    a {
      @apply p-2 bg-stone-200 dark:bg-stone-900 text-slate-600 dark:text-slate-300 transition-colors duration-500;
    }

    a:hover {
      @apply bg-stone-300 dark:bg-stone-700 text-slate-800 dark:text-slate-100;
    }
  }
}
@media (prefers-color-scheme: dark) {
  header > h1 > a:hover {
    text-shadow: 0 0 8px theme(colors.sky.400);
  }
}

main {
  @apply text-slate-800 dark:text-slate-400 bg-zinc-100 dark:bg-zinc-800 p-10;
  box-shadow: 8px 8px #00000016;

  h2 {
    @apply text-4xl text-stone-900 dark:text-stone-400 font-black leading-normal mb-1;
  }

  time {
    @apply mb-1 text-stone-500;
  }

  h3 {
    @apply text-xl my-6 text-stone-900 dark:text-stone-400 font-semibold;
  }

  p {
    @apply my-5;
  }

  a {
    @apply text-blue-500 underline;
  }

  p > code {
    @apply before:content-['`'] after:content-['`'] p-1 font-mono;
  }

  pre {
    @apply shadow-lg;
  }

  ul {
    @apply list-disc list-inside;
  }

  ol {
    @apply list-decimal list-inside;
  }
}

footer {
  @apply flex my-4 justify-center;

  a {
    @apply hover:underline;
  }
}
