<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>${ title } - ${ site.title }</title>
  <link href="/favicon.ico" rel="icon" />
  <link rel="stylesheet" href="/css/main.css" />
  <meta property="og:title" content="${ title }" />
  <meta name="description" content="${ site.description }" />
  <meta name="og:description" content="${ site.description }" />
  <meta property="og:locale" content="${ site.language }" />
  <meta property="og:type" content="website" />
  <link rel="alternate" type="application/rss+xml" title="${ site.title }" href="/feeds/rss.xml">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/base16/apathy.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/vim.min.js"></script>

  <script src="/js/main.js"></script>
</head>
