<!--
   Source code for the site available at https://github.com/laktek/laktek.com/
-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>${ title } - ${ site.title }</title>
  <link href="/favicon.ico" rel="icon" />
  <link rel="stylesheet" href="/css/main.css" />
  <meta property="og:title" content="${ title }" />
  <meta name="description" content="${ _params.description ?? site.description }" />
  <meta name="og:description" content="${ _params.description ?? site.description }" />
  <meta property="og:locale" content="${ site.language }" />
  <meta property="og:type" content="website" />
  <meta name="og:image" content="${ new URL(_params.image ?? site.image, site.url).toString() }" />

  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="${ site.domain}">
  <meta property="twitter:url" content="${ new URL(Punch.route.path, site.url).toString() }" />
  <meta property="twitter:title" content="${ title }" />
  <meta name="twitter:description" content="${ _params.description ?? site.description }" />
  <meta name="twitter:image" content="${ new URL(_params.image ?? site.image, site.url).toString() }" />

  <link rel="alternate" type="application/rss+xml" title="${ site.title }" href="/feeds/rss.xml">

  <script type="speculationrules">
		{
			"prerender": [{
				"source": "document",
				"where": {
					"href_matches": "/*"
				},
				"eagerness": "moderate"
			}]
		}
	</script>
</head>
